  <div class="character-list__item" *ngFor="let character of characters">
    <div class="character-card">
      <img (click)="goToDetails(character.id)" [src]="character.thumbnail?.path + '.' + character.thumbnail?.extension" class="character-card__image" [alt]="character.name">
      <div class="character-card__spacer"></div>
      <div class="character-card__content">
        <h5 class="character-card__name">{{ character.name || 'NAME' }}</h5>
        <button class="character-card__favorite">
          <app-heart [character]="character"></app-heart>
        </button>
      </div>
    </div>
  </div>
