<header class="header">
  <div class="header__container">
    <div class="header__titulo">
      <h4>404 NOT FOUND</h4>
    </div>
  </div>
</header>

<main class="main">
  <section class="contenido">
    <img
      class="contenido__img--espanta"
      src="../../../../assets/groot-02.png"
      alt="pagina error"
      width="300"
      height="400"
    />
  </section>

  <section class="section">
    <div class="section__texto">
      <div class="section__texto--titulo">
        <h1>Agárrate fuerte, esto no suena muy bien...</h1>
      </div>
      <div class="section__texto--parrafo">
        <p>
          La página que estás buscando podría haber sido eliminada o se
          encuentra momentáneamente fuera de servicio
        </p>
      </div>
    </div>
    <footer class="section__botones">
      <div class="section__botones--contenido">
        <input
        (click)="goToHome()"
          class="section__botones--contenido__btn"
          type="button"
          value="REGRESAR AL INICIO"
        />
      </div>
    </footer>
  </section>
</main>
